<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../partials/head', {tituloWeb: 'Pagina de inicio'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../partials/navbar') %>

<!--========================================================== -->
<!-- SLIDER DE IMAGENES-->
<!--========================================================== -->

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3000">
    <img src="/img/slide1.jpg" class="d-block w-100" alt="">
  </div>


  <div class="carousel-item" data-bs-interval="3000">
    <img src="/img/slide2.jpg" class="d-block w-100" alt="...">
  </div>


  <div class="carousel-item" data-bs-interval="3000">
    <img src="/img/slide3.jpg" class="d-block w-100" alt="...">
  </div>


</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

<!--========================================================== -->
<!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->

<section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto"
id="intro">
<h1 class="p-3 fs-2 border-top border-3">Hola ipsum dolor sit amet consectetur adipisicing elit. Dolor velit molestiae vitae odit? Fugit, sint.<span
    class="text-primary">Lorem, ipsum dolor.<span></h1>
<p class="p-3  fs-4">
  <span class="text-primary">Lorem.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi saepe illo, amet eveniet aut nemo.
</p>
</section>

<!--========================================================== -->
<!-- PRODUCTOS EN VENTA-->
<!--========================================================== -->

<section>
  <h1 class="texto-centrado">Lorem ipsum dolor sit amet.</h1>
  <div class="container mt-5">
    <div class="row justify-content-center tarjetas">
      <% if (productos && productos.length > 0) { %>
        <% productos.forEach(function(producto) { %>
          <div class="col-md-4">
            <div class="card tarjeta" style="width: 18rem;">
              <img src="/<%= producto.imagen %>" class="card-img-top" alt="<%= producto.nombre %>" >
              <div class="card-body">
                <h5 class="card-title"><%= producto.nombre %></h5>
                <p class="card-text"><%= producto.descripcion %></p>
                <button class="btn-carrito"><i class="fa-solid fa-cart-arrow-down"></i></button>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>No hay productos disponibles.</p>
      <% } %>
    </div>
  </div>
</section>

<!--========================================================== -->
<!-- TIPOS DE SERVICIOS-->
<!--========================================================== -->

<section class="w-100">
<div class="row w-75 mx-auto" id="servicios-fila-1">
  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
    <img src="/img/desarrollo.png" alt="desarrollo" width="180" height="160">

    <div>
      <h3 class="fs-5 mt-4 px-4 pb-1">Lorem</h3>
      <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis distinctio qui iure, voluptate ratione?</p>
    </div>

  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
    <img src="/img/concepto.png" alt="concepto" width="180" height="160">

    <div>
      <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Lorem.</h3>
      <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vitae ad tempore debitis quos dicta omnis maxime? Qui, necessitatibus quaerat.</p>
    </div>
  </div>
</div>

<div class="row w-75 mx-auto mb-5" id="servicios-fila-2">
  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
    <img src="/img/comunicaciones.png" alt="comunicaciones" width="180" height="160">

    <div>
      <h3 class="fs-5 mt-4 px-4 pb-1">Lorem.</h3>
      <p class="px-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus error tempore voluptatum veritatis explicabo ex deserunt illum commodi delectus minus.</p>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
    <img src="/img/seo.png" alt="seo" width="180" height="160">

    <div>
      <h3 class="fs-5 mt-4 px-4 pb-1">Lorem.</h3>
      <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In eum, harum explicabo excepturi voluptatum ab voluptates alias cupiditate, odio nostrum natus impedit!</p>
    </div>
  </div>
</div>
</section>

<!--========================================================== -->
<!-- SECCION ACERCA DE NOSOTROS-->
<!--========================================================== -->

<section>
<div class="container w-50 m-auto text-center" id="equipo">
  <h1 class="mb-5 fs-2">Lorem, ipsum dolor. <span class="text-primary">Lorem, ipsum dolor.s</span>.</h1>
  <p class="fs-4 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nam inventore dolor modi beatae atque ipsam fuga numquam voluptas blanditiis.</p>
</div>

<div class="mt-5 text-center">
  <img id="img-equipo" src="/img/equipo.jpg" alt="equipo">
</div>

<div id="local" class="border-top border-2">
  <div class="mapa"> </div>
  <div>
    <div class="wrapper-local">
      <h2>Lorem ipsum dolor sit.</h2>
      <h2 class="text-primary mb-4" id="typewriter"></h2>
      <p class="fs-5 text-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempora corrupti necessitatibus, harum nostrum rem fugiat optio autem sequi sapiente voluptatibus, reprehenderit, modi magnam temporibus aut sit labore. Exercitationem quasi officiis, modi eum rem aliquam in debitis beatae non necessitatibus.!</p>
      <section class="d-flex justify-content-start" id="numeros-local">
        <div>
          <p class="text-primary fs-5">200</p>
          <p>Lorem, ipsum dolor.</p>
        </div>
        <div>
          <p class="text-primary fs-5">100%</p>
          <p>Lorem.</p>
        </div>
        <div>
          <p class="text-primary fs-5">24 °C</p>
          <p>lorem1</p>
        </div>
      </section>
    </div>
  </div>
</div>

</section>

<!--========================================================== -->
<!-- SECCION CONTACTOS-->
<!--========================================================== -->

<section id="seccion-contacto" class="border-bottom border-secondary border-2">
  <div id="bg-contactos">
    <section id="contacto" class="contacto">
        <div class="container">
            <div class="container text-center rectangulo d-flex justify-content-evenly">
                <div class="row ">
                    <div class="col-12 col-md-4 seccion-titulo">
                        Lorem, ipsum dolor.
                    </div>
                    <div class="col-12 col-md-4 descripcion">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni quibusdam eveniet perferendis alias aliquid qui molestias voluptate incidunt explicabo expedita?
                    </div>
                    <div class="col-12 col-md-4 contenedor-contacto">
                        <button class="btn-contacto" data-bs-toggle="modal" data-bs-target="#correoElectronico">
                            Contacto <i class="fa-regular fa-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
</section>

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../partials/footer') %>





  
