<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/head', {tituloWeb: 'Usuarios'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/navbar') %>


<!--=========================***CONTENIDO***================================-->

<div class="container my-5 contenedorCentrado">
    <div class="row ">
        <table id="example" class="table table-striped contenedorCentrado" style="width:100%">
            <caption>
                Tabla Usuarios
            </caption>
            <thead>
                <tr>
                    <th scope="col">Correo</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Habilitado</th>
                    <th scope="col">Accion</th>
        
                </tr>
            </thead>
            <tbody>
        
                <% if (usuarios.length > 0) { %>
                    <% usuarios.forEach(usuarios => { %>
                        <tr>
                            <td><%= usuarios.correo %></td>      
                            <td><%= usuarios.pass %></td> 
                            <td><%= usuarios.rol %></td> 
                            <td><%= usuarios.habilitado %></td>     
                            <td class="btn-formularios">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleUsuario"
                                    data-id="<%= usuarios._id %>">
                                    <i class="fa-solid fa-eye"></i>
                                </button>

                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarUsuario"
                                        data-id="<%= usuarios._id %>"
                                        data-correo="<%= usuarios.correo %>"
                                        data-pass="<%= usuarios.pass %>"
                                        data-rol="<%= usuarios.rol %>"
                                        data-habilitado="<%= usuarios.habilitado %>">
                                        <i class="fa-solid fa-file-pen"></i>
                                </button>

                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuario"
                                    data-id="<%= usuarios._id %>">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>   
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            
            </tbody>
        </table>
    </div>
</div>


<!--=========================***CONTENIDO***================================-->


<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/footer') %>

<%- include('../../modales/modalUsuario/modalUsuarios.ejs') %>


