<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/head', {tituloWeb: 'Productos'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/navbar') %>


<!--=========================***CONTENIDO***================================-->

<table class="table">
    <thead>
        <tr>
            <th scope="col">Referencia</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Imagen</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Usuario</th>
            <th scope="col">Accion</th>

        </tr>
    </thead>
    <tbody>

        <% if (productos.length > 0) { %>
            <% productos.forEach(productos => { %>
                <tr>
                    <td><%= productos.referencia %></td>      
                    <td><%= productos.nombre %></td> 
                    <td><%= productos.descripcion %></td> 
                    <td><%= productos.precio %></td>     
                    <td><%= productos.stock %></td>          
                    <td>imagen</td> 
                    <td><%= productos.habilitado %></td>          
                    <td><%= productos.usuario %></td>
                    <td class="btn-formularios">
                        <a href="/api/productos/detalles/<%= productos._id %>" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                        <a href="/api/productos/editar/<%= productos._id %>" class="btn btn-warning"><i class="fa-solid fa-file-pen"></i></a>
                        <form action="/api/productos/aliminar/<%= productos._id %>" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" ></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    
    </tbody>
</table>

<button 
    type="button" 
    class="btn btn-success" 
    style="margin-bottom: 15px;" 
    data-bs-toggle="modal" 
    data-bs-target="#crearProducto">
    Crear Nuevo Producto
    <i 
    class="fa-solid fa-plus" 
    style="margin-left: 9px;">
    </i>
</button>


<!--=========================***CONTENIDO***================================-->


<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/footer') %>

<!--========================================================== -->
<!--MODALES-->
<!--========================================================== -->

<%- include('../../partials/modales') %>