<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/head', {tituloWeb: 'Crear Productos'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/navbar') %>


<!--=========================***CONTENIDO***================================-->

<div class="container mt-5 formDetalle">
    <h2>Detalle Producto</h2>
    <hr>
    <% if (error) { %>
        <p><%= mensaje %></p>
        <a href="/api/productos" class="btn btn-dark 100-w">Volver a Productos</a>
    <% } %>

    <% if (!error) { %>
        <form action="/api/productos/detalles/<%= productos._id %>" method="POST">
            <div class="mb-3">
                <label for="referencia" class="form-label fw-bold">Referencia:</label>
                <td><%= productos.referencia %></td>              </div>
            <div class="mb-3">
                <label for="nombre" class="form-label fw-bold">Nombre:</label>
                <td><%= productos.nombre %></td> 
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label fw-bold">Descripción:</label>
                <td><%= productos.descripcion %></td> 
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label fw-bold">Precio:</label>
                <td><%= productos.precio %></td>     
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label fw-bold">Stock:</label>
                <td><%= productos.stock %></td>          
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label fw-bold">Imagen (URL):</label>
                <td>imagen</td> 
            </div>
            <div class="mb-3">
                <label for="habilitado" class="form-label fw-bold">Habilitado:</label>
                <td><%= productos.habilitado %></td>          
            </div>
            <!-- <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese el nombre del usuario" required>
            </div> -->
        </form>
    <% } %>
</div>
<a href="/api/productos" class="btn btn-primary btnRegresar" >Regresar</a>



<!--=========================***CONTENIDO***================================-->


<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/footer') %>

<!--========================================================== -->
<!--MODALE LOGIN Y LOGOUT-->
<!--========================================================== -->

<%- include('../../partials/modales') %>