<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/head', {tituloWeb: 'Productos'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/navbar') %>


<!--=========================***CONTENIDO***================================-->

<div class="container my-5 contenedorCentrado">
    <div class="row ">
        <table id="example" class="table table-striped " style="width:100%">
            <caption>
                Tabla Productos
            </caption>
            <thead class="texto-centrado">
                <tr>
                    <th scope="col">Referencia</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Habilitado</th>
                    <th scope="col">Accion</th>
        
                </tr>
            </thead>
            <tbody>
        
                <% if (productos.length > 0) { %>
                    <% productos.forEach(producto => { %>
                        <tr>
                            <td><%= producto.referencia %></td>      
                            <td><%= producto.nombre %></td> 
                            <td><%= producto.descripcion %></td> 
                            <td><%= producto.precio %></td>     
                            <td><%= producto.stock %></td>
                            <td><img src="/<%= producto.imagen %>" alt="<%= producto.nombre %>"></td>
                            <td><%= producto.habilitado %></td>          
                            <td class="btn-formularios">
        
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleProducto"
                                    data-id="<%= producto._id %>">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarProducto"
                                    data-id="<%= producto._id %>"
                                    data-referencia="<%= producto.referencia %>"
                                    data-nombre="<%= producto.nombre %>"
                                    data-descripcion="<%= producto.descripcion %>"
                                    data-precio="<%= producto.precio %>"
                                    data-stock="<%= producto.stock %>"
                                    data-imagen="<%= producto.imagen %>"
                                    data-habilitado="<%= producto.habilitado %>">
                                    <i class="fa-solid fa-file-pen"></i>
                                </button>
        
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto"
                                    data-id="<%= producto._id %>">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <button 
            type="button" 
            class="btn btn-success btn-crear" 
            style="margin-bottom: 15px;" 
            data-bs-toggle="modal" 
            data-bs-target="#crearProducto">
            Crear Nuevo Producto
            <i 
            class="fa-solid fa-plus" 
            style="margin-left: 9px;">
            </i>
        </button>
    </div>
</div>

<!--=========================***CONTENIDO***================================-->

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/footer') %>

<%- include('../../modales/modalProducto/modalProductos') %>


